
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.index{
    background-color: #bc382e;
    width: 100%;
    height:110vh;
    position: relative;
    overflow: hidden;
}

/* Header */
.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position:fixed;
    z-index: 70;
    transition: 0.5s;
    animation:none;
}
/* logo */
.logo{
    display: inline-flex;
    align-items: center;
    margin-left:10px;
}
.logo img{
    width: 43px;
    height: 43px;
}
 /* Logo Heading */
.logo h3{
    font-size: 21px;
    font-weight: 400;
    margin-left: 4px;
}              
/* Sign In */
.sign{
    margin-right: 20px;
}
.sign  a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500
}
.sign  a:hover{
    color: #ffffff88;
}
/* Main Content*/
.main{
    width: 100%;
    height: 90vh;
    text-align: center;
    position: relative;
    top: 50px;
}
.main .mainhead{
    padding-top: 30px;
    font-size: 42px;
    font-weight: 300;
    color: #fff;
}
.mainhead2{
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 50px;
}
.btn-link{
    padding: 16px 18px;
    background: #ff8000;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}
#hidebtn{
    padding: 16px 18px;
    background: #ff8000;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    display: none;
}
.mainimage{
    position: absolute;
    bottom: 0;
    left: 24%;
    z-index: 30;
    transition: 0.4s;
    animation: translate 2s linear;
}
@keyframes translate {
    0%{
        transform: translateY(190px);
    }
  
    100%{
        transform: translateY(0px);
    }
    
}
.sideimage1, .sideimag2, .sideimage3 ,.sideimage4,.sideimage5,.sideimage6,.sideimage7{
    animation: translate 2s linear;
    position: absolute;
}
.sideimage1{
    top: 179px;
    left: -130px;
}
.sideimage1 img{
    width:290px;
    height:290px;

}
.sideimag2{
    top: 300px;
    left: -65px;
}
.sideimag2 img{
    width:220px;
    height:290px;
}

.sideimage3{
    top: 450px;
    left: -80px;
   
}
.sideimage3 img{
    width:280px;
    height:320px;
}
.sideimage4{
    top: 360px;
    left: 200px;
    width:70px;
    height:90px;

}
.sideimage4 img{
    width:70px;
    height:90px;
}
.sideimage5{
    right:-120px ;
    top: 240px;
}
.sideimage5 img{
    width:340px;
    height:240px;
}
.sideimage6{
    right: 190px;
    top: 320px;
}
.sideimage6 img{
    width:120px ;
    height: 180px;
}
.sideimage7{
    right: -150px;
    bottom: -130px;
}
.sideimage7 img{
    width: 330px;
    height:330px;
}
.down{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 70px;
    bottom: 20px;
    background-color: #ff8000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down a img{
    animation: jump 1s linear infinite;
}
@keyframes jump {
    0%{
      transform: translateY(-30%);
    }
    100%{
        transform: translateY(0%);
    }
   
}
